# HW 3

#### 1. Используя данные по недвижимости постройте модель для прогнозирования цены дома. Целевая переменная SalePrice  (2 б.).
#### 1. 1 Подготовьте данные, проведите отбор признаков  (3 б.).
#### 1.2 Разделите данные на обучающую и тестовую выборки (при использовании кросс-валидации валидационну выборку выделять не нужно). Подберите гиперпараметры моделей (случайный лес, бустинги)  (3 б.).
#### 1. 3 Сравните качество построенных моделей (нужно выбрать подходящую метрику) и сформулируйте выводы (2 б.).

Проверяться модель будет на тестовых данных.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import plotly.express as px

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [5]:
print(train[train.columns[1:]].corr()['SalePrice'].sort_values())

KitchenAbvGr    -0.135907
EnclosedPorch   -0.128578
MSSubClass      -0.084284
OverallCond     -0.077856
YrSold          -0.028923
LowQualFinSF    -0.025606
MiscVal         -0.021190
BsmtHalfBath    -0.016844
BsmtFinSF2      -0.011378
3SsnPorch        0.044584
MoSold           0.046432
PoolArea         0.092404
ScreenPorch      0.111447
BedroomAbvGr     0.168213
BsmtUnfSF        0.214479
BsmtFullBath     0.227122
LotArea          0.263843
HalfBath         0.284108
OpenPorchSF      0.315856
2ndFlrSF         0.319334
WoodDeckSF       0.324413
LotFrontage      0.351799
BsmtFinSF1       0.386420
Fireplaces       0.466929
MasVnrArea       0.477493
GarageYrBlt      0.486362
YearRemodAdd     0.507101
YearBuilt        0.522897
TotRmsAbvGrd     0.533723
FullBath         0.560664
1stFlrSF         0.605852
TotalBsmtSF      0.613581
GarageArea       0.623431
GarageCars       0.640409
GrLivArea        0.708624
OverallQual      0.790982
SalePrice        1.000000
Name: SalePrice, dtype: float64

In [6]:
train = train.drop(columns=['KitchenAbvGr', 'EnclosedPorch', 'MSSubClass', 'OverallCond','YrSold', 'LowQualFinSF', 'MiscVal', 'BsmtHalfBath', 'BsmtFinSF2'], axis = 1)

In [7]:
print(train[train.columns[1:]].corr()['SalePrice'].sort_values())

3SsnPorch       0.044584
MoSold          0.046432
PoolArea        0.092404
ScreenPorch     0.111447
BedroomAbvGr    0.168213
BsmtUnfSF       0.214479
BsmtFullBath    0.227122
LotArea         0.263843
HalfBath        0.284108
OpenPorchSF     0.315856
2ndFlrSF        0.319334
WoodDeckSF      0.324413
LotFrontage     0.351799
BsmtFinSF1      0.386420
Fireplaces      0.466929
MasVnrArea      0.477493
GarageYrBlt     0.486362
YearRemodAdd    0.507101
YearBuilt       0.522897
TotRmsAbvGrd    0.533723
FullBath        0.560664
1stFlrSF        0.605852
TotalBsmtSF     0.613581
GarageArea      0.623431
GarageCars      0.640409
GrLivArea       0.708624
OverallQual     0.790982
SalePrice       1.000000
Name: SalePrice, dtype: float64

In [8]:
df=pd.DataFrame({'Type': train.dtypes,
                  'Missing': train.isna().sum(),
                  'Size':train.shape[0],
                  'Unique': train.nunique()})
df['Missing_%']= (df.Missing/df.Size)*100
df[df['Missing']>0].sort_values(by=['Missing_%'], ascending=False)

                 Type  Missing  Size  Unique  Missing_%
PoolQC         object     1453  1460       3  99.520548
MiscFeature    object     1406  1460       4  96.301370
Alley          object     1369  1460       2  93.767123
Fence          object     1179  1460       4  80.753425
FireplaceQu    object      690  1460       5  47.260274
LotFrontage   float64      259  1460     110  17.739726
GarageType     object       81  1460       6   5.547945
GarageYrBlt   float64       81  1460      97   5.547945
GarageFinish   object       81  1460       3   5.547945
GarageQual     object       81  1460       5   5.547945
GarageCond     object       81  1460       5   5.547945
BsmtExposure   object       38  1460       4   2.602740
BsmtFinType2   object       38  1460       6   2.602740
BsmtFinType1   object       37  1460       6   2.534247
BsmtCond       object       37  1460       4   2.534247
BsmtQual       object       37  1460       4   2.534247
MasVnrArea    float64        8  1460     327   0.547945
MasVnrType     object        8  1460       4   0.547945
Electrical     object        1  1460       5   0.068493

In [9]:
train = train.drop(columns=['PoolQC', 'MiscFeature', 'Alley', 'Fence'], axis = 1)

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 68 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   LotShape       1460 non-null   object
 6   LandContour    1460 non-null   object
 7   Utilities      1460 non-null   object
 8   LotConfig      1460 non-null   object
 9   LandSlope      1460 non-null   object
 10  Neighborhood   1460 non-null   object
 11  Condition1     1460 non-null   object
 12  Condition2     1460 non-null   object
 13  BldgType       1460 non-null   object
 14  HouseStyle     1460 non-null   object
 15  OverallQual    1460 non-null   int64
 16  YearBuilt      1460 non-null   int64
 17  YearRemodAdd   1460 non-null   int64
 18  RoofStyle      1460 non-null   object
 19  RoofMatl       1460 non-null   object
 20  Exterior1st    1460 non-null   object
 21  Exterior2nd    1460 non-null   object
 22  MasVnrType     1452 non-null   object
 23  MasVnrArea     1452 non-null   float64
 24  ExterQual      1460 non-null   object
 25  ExterCond      1460 non-null   object
 26  Foundation     1460 non-null   object
 27  BsmtQual       1423 non-null   object
 28  BsmtCond       1423 non-null   object
 29  BsmtExposure   1422 non-null   object
 30  BsmtFinType1   1423 non-null   object
 31  BsmtFinSF1     1460 non-null   int64
 32  BsmtFinType2   1422 non-null   object
 33  BsmtUnfSF      1460 non-null   int64
 34  TotalBsmtSF    1460 non-null   int64
 35  Heating        1460 non-null   object
 36  HeatingQC      1460 non-null   object
 37  CentralAir     1460 non-null   object
 38  Electrical     1459 non-null   object
 39  1stFlrSF       1460 non-null   int64
 40  2ndFlrSF       1460 non-null   int64
 41  GrLivArea      1460 non-null   int64
 42  BsmtFullBath   1460 non-null   int64
 43  FullBath       1460 non-null   int64
 44  HalfBath       1460 non-null   int64
 45  BedroomAbvGr   1460 non-null   int64
 46  KitchenQual    1460 non-null   object
 47  TotRmsAbvGrd   1460 non-null   int64
 48  Functional     1460 non-null   object
 49  Fireplaces     1460 non-null   int64
 50  FireplaceQu    770 non-null    object
 51  GarageType     1379 non-null   object
 52  GarageYrBlt    1379 non-null   float64
 53  GarageFinish   1379 non-null   object
 54  GarageCars     1460 non-null   int64
 55  GarageArea     1460 non-null   int64
 56  GarageQual     1379 non-null   object
 57  GarageCond     1379 non-null   object
 58  PavedDrive     1460 non-null   object
 59  WoodDeckSF     1460 non-null   int64
 60  OpenPorchSF    1460 non-null   int64
 61  3SsnPorch      1460 non-null   int64
 62  ScreenPorch    1460 non-null   int64
 63  PoolArea       1460 non-null   int64
 64  MoSold         1460 non-null   int64
 65  SaleType       1460 non-null   object
 66  SaleCondition  1460 non-null   object
 67  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(26), object(39)
memory usage: 775.8+ KB

In [11]:
df=pd.DataFrame({'Type': train.dtypes,
                  'Missing': train.isna().sum(),
                  'Size':train.shape[0],
                  'Unique': train.nunique()})
df['Missing_%']= (df.Missing/df.Size)*100
df[df['Missing']>0].sort_values(by=['Missing_%'], ascending=False)

                 Type  Missing  Size  Unique  Missing_%
FireplaceQu    object      690  1460       5  47.260274
LotFrontage   float64      259  1460     110  17.739726
GarageType     object       81  1460       6   5.547945
GarageYrBlt   float64       81  1460      97   5.547945
GarageFinish   object       81  1460       3   5.547945
GarageQual     object       81  1460       5   5.547945
GarageCond     object       81  1460       5   5.547945
BsmtExposure   object       38  1460       4   2.602740
BsmtFinType2   object       38  1460       6   2.602740
BsmtQual       object       37  1460       4   2.534247
BsmtCond       object       37  1460       4   2.534247
BsmtFinType1   object       37  1460       6   2.534247
MasVnrType     object        8  1460       4   0.547945
MasVnrArea    float64        8  1460     327   0.547945
Electrical     object        1  1460       5   0.068493

In [12]:
train['FireplaceQu']=train['FireplaceQu'].fillna(train['FireplaceQu'].mode()[0])

train['LotFrontage']=train['LotFrontage'].fillna(train['LotFrontage'].mode()[0])

train['GarageType']=train['GarageType'].fillna(train['GarageType'].mode()[0])

train['GarageYrBlt']=train['GarageYrBlt'].fillna(train['GarageYrBlt'].mode()[0])

train['GarageFinish']=train['GarageFinish'].fillna(train['GarageFinish'].mode()[0])
train['GarageQual']=train['GarageQual'].fillna(train['GarageQual'].mode()[0])
train['GarageCond']=train['GarageCond'].fillna(train['GarageCond'].mode()[0])
train['BsmtExposure']=train['BsmtExposure'].fillna(train['BsmtExposure'].mode()[0])
train['BsmtFinType2']=train['BsmtFinType2'].fillna(train['BsmtFinType2'].mode()[0])
train['BsmtQual']=train['BsmtQual'].fillna(train['BsmtQual'].mode()[0])
train['BsmtCond']=train['BsmtCond'].fillna(train['BsmtCond'].mode()[0])
train['BsmtFinType1']=train['BsmtFinType1'].fillna(train['BsmtFinType1'].mode()[0])
train['MasVnrType']=train['MasVnrType'].fillna(train['MasVnrType'].mode()[0])

train['MasVnrArea']=train['MasVnrArea'].fillna(train['MasVnrArea'].mode()[0])

train['Electrical']=train['Electrical'].fillna(train['Electrical'].mode()[0])

In [13]:
df=pd.DataFrame({'Type': train.dtypes,
                  'Missing': train.isna().sum(),
                  'Size':train.shape[0],
                  'Unique': train.nunique()})
df['Missing_%']= (df.Missing/df.Size)*100
df[df['Missing']>0].sort_values(by=['Missing_%'], ascending=False)

Empty DataFrame
Columns: [Type, Missing, Size, Unique, Missing_%]
Index: []

In [14]:
list_of_objects=list(train.select_dtypes(include=['object']).columns)

In [15]:
list_of_objects

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [16]:
train[list_of_objects] = train[list_of_objects].apply(lambda x: pd.factorize(x)[0])

In [17]:
Y = train['SalePrice']
X = train.drop(columns=['SalePrice','Id'])

In [18]:
Y.shape

(1460,)

In [19]:
X.shape

(1460, 66)

In [20]:
from sklearn.model_selection import train_test_split

# Перемешать и разделить тренировочный набор и тестовый набор
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [21]:
X_train.shape

(1168, 66)

In [22]:
X_test.shape

(292, 66)

In [23]:
Y_train.shape

(1168,)

In [24]:
Y_test.shape

(292,)

In [25]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer

In [26]:
Scores=[]
RMSE=[]
MAE=[]
MSE=[]
Models=[]

In [27]:
import xgboost as xgb
reg = xgb.XGBRegressor()
reg.fit(X_train, Y_train)
Y_pred = reg.predict(X_test)
print(reg.score(X_train,Y_train))
print("RMSE: ",round(mean_squared_error((Y_test),(Y_pred), squared=False), 4))
print("MAE: ", round(mean_absolute_error(Y_test, Y_pred), 4))
print("MSE: ", round(mean_squared_error(Y_test, Y_pred), 4))

0.9998578766229627
RMSE:  31412.4895
MAE:  17153.3716
MSE:  986744498.4752

In [28]:
Scores.append(reg.score(X_train,Y_train))
RMSE.append(round(mean_squared_error((Y_test),(Y_pred), squared=False), 4))
MAE.append(round(mean_absolute_error(Y_test, Y_pred), 4))
MSE.append(round(mean_squared_error(Y_test, Y_pred), 4))
Models.append('XGBoost')

In [29]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor()
reg.fit(X_train, Y_train)
Y_pred = reg.predict(X_test)
print(reg.score(X_train,Y_train))
print("RMSE: ",round(mean_squared_error((Y_test),(Y_pred), squared=False), 4))
print("MAE: ", round(mean_absolute_error(Y_test, Y_pred), 4))
print("MSE: ", round(mean_squared_error(Y_test, Y_pred), 4))

0.9756891917411361
RMSE:  27751.0274
MAE:  16512.1174
MSE:  770119522.2946

In [30]:
Scores.append(reg.score(X_train,Y_train))
RMSE.append(round(mean_squared_error((Y_test),(Y_pred), squared=False), 4))
MAE.append(round(mean_absolute_error(Y_test, Y_pred), 4))
MSE.append(round(mean_squared_error(Y_test, Y_pred), 4))
Models.append('RandomForest')

In [31]:
from lightgbm import LGBMRegressor
reg = LGBMRegressor()
reg.fit(X_train, Y_train)
Y_pred = reg.predict(X_test)
print(reg.score(X_train,Y_train))
print("RMSE: ",round(mean_squared_error((Y_test),(Y_pred), squared=False), 4))
print("MAE: ", round(mean_absolute_error(Y_test, Y_pred), 4))
print("MSE: ", round(mean_squared_error(Y_test, Y_pred), 4))

0.976744195628287
RMSE:  29010.567
MAE:  15873.6037
MSE:  841612994.8325

In [32]:
Scores.append(reg.score(X_train,Y_train))
RMSE.append(round(mean_squared_error((Y_test),(Y_pred), squared=False), 4))
MAE.append(round(mean_absolute_error(Y_test, Y_pred), 4))
MSE.append(round(mean_squared_error(Y_test, Y_pred), 4))
Models.append('LightGBM')

In [33]:
result=pd.DataFrame({'Model': Models, 'Score': Scores, 'RMSE': RMSE, 'MAE': MAE, 'MSE': MSE})
result.sort_values(by=['RMSE'], ascending=True)

          Model     Score        RMSE         MAE           MSE
1  RandomForest  0.975689  27751.0274  16512.1174  7.701195e+08
2      LightGBM  0.976744  29010.5670  15873.6037  8.416130e+08
0       XGBoost  0.999858  31412.4895  17153.3716  9.867445e+08

In [34]:
result.sort_values(by=['MAE'], ascending=True)

          Model     Score        RMSE         MAE           MSE
2      LightGBM  0.976744  29010.5670  15873.6037  8.416130e+08
1  RandomForest  0.975689  27751.0274  16512.1174  7.701195e+08
0       XGBoost  0.999858  31412.4895  17153.3716  9.867445e+08

In [35]:
result.sort_values(by=['MSE'], ascending=True)

          Model     Score        RMSE         MAE           MSE
1  RandomForest  0.975689  27751.0274  16512.1174  7.701195e+08
2      LightGBM  0.976744  29010.5670  15873.6037  8.416130e+08
0       XGBoost  0.999858  31412.4895  17153.3716  9.867445e+08

# Вывод

#### По данным оценок MAE, MSE и RMSE, RandomForest является наилучшей моделью для прогнозирования цен на жильё в зависимости от различным параметров.